//styles
body {
	font-family: 'Libre Franklin', sans-serif;
	background-color:transparent;
	height:100%;
}

html {
	height:100%
}
	//header
	.navbar {
		background:$suzuki-blue;
		.navbar-brand {
			font-size: 16px;
			font-weight: bold;
		}
		.logo {
			display: block;
			margin-top:-10px;
		}
		.navbar-toggle {
			background-color:$white;
			.icon-bar {
				background-color:$suzuki-blue;
			}
		}
		.nav{
			text-transform: uppercase;
			list-style:none;
			margin-right:60px;
			li {
				 a {
				 	color:$white;
				 	font-weight: bold;
				 	&:hover, &:focus {
				 		background-color:transparent;
				 		text-decoration: underline;
				 	}
				 }

				 .home-nav-logo {
				 	padding-top:14px;
				 } 

			}
		}
	}

	//logo 
	.logo-container {
		position:relative;
		.header-logo  {
			position:absolute;
			left:-15px;
    		top: -20px;
		}
	}

	.sheff-suzuki-container {
		height:100%;
		background:url(../../../img/suzuki-baleno-hero.jpg) no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: center center;

	//main content
	.coming-soon-content {
		display:none;
		width:100%;
		height:309px;
		border:1px solid $white;
		background-color: rgba(255, 255, 255, 0.1);
		position:absolute;
		top: 300px;
    	right: 30px;

		h1, h2, .btn{
			margin-top: 50px;
			margin-left:50px;
			text-transform:uppercase;
		}
		h1, h2{
			color:$white;
			font-style: italic;
		}
		h1 {
			font-size:32px;
			margin-bottom:0;
		}

		h2 {
			font-size: 48px;
			margin-top:3px; 
		}
		.btn {
			background:$suzuki-sky-blue;
			color:$white;
			a {
				color:$white;
				text-decoration: none;
			}
			&:after {
				font-family: FontAwesome;
				content:"\f054";
				color:$white;
				padding-left:5px;
				font-weight: normal;
			}
		}
	}
}
	//footer
	.sheff-suzuki-footer {
		.footer-logo {
			margin-top: 30px;
		}

		.navbar {
			background:$suzuki-dark-blue;
		}
		.sheff-suzuki-links{
			padding:0;
			list-style:none;
			margin: 30px 0; 
			li {
				margin-bottom: 8px;
				a {
					color:$white;
				}
			}
		}

		.border-right {
			border-right:1px solid $white;
		}
		
		h3 {
			color:$white;
			text-transform: uppercase;
			font-size: 16px;
			margin-top: 30px;
		}
		.social-media {
			list-style: none;
			padding:0;
			li{
				display:inline;
				padding: 0 15px;
			}
		}

		h3, .social-media {
			text-align:center;
		}
	}	


	//responsive greatness

	//mobile
	@media (max-width: $screen-xs-max) { 

		.sheff-suzuki-footer {
			.footer-logo {
				text-align:center;
			}

			.border-bottom {
				border-bottom:1px solid $white;
			}
		}
	}

	//tablet 
	@media (max-width: $screen-sm-max) { 
		//burger nav
		.navbar-header {
	  		float: none;
		}
		.navbar-toggle {
		  display: block;
		}
		.navbar-collapse.collapse {
		  display: none!important;
		}
		.navbar-nav {
		  float: none!important;
		}
		.navbar-nav>li {
		  float: none;
		}
		.navbar-collapse.collapse.in{
		  display:block !important;
		}

		.logo-container {
			.header-logo {
				left:40%;
			}
		}

		.sheff-suzuki-container {
			.coming-soon-content{
				width:717px;
			}
		}
	}